body{
background-color: #403d39;
}
div{
    margin-left: 140px;
   
}

canvas{
    height: 560px;
    width: 1210px;
    background-color: black;
    border: 20px solid #d100d1;
    border-radius: 20px;
}
